@media screen and (max-width: 768px){

    


  
    .info-sec {

        font-size: 12px;
        font-weight: 500;
        padding: 7px 16px;
        
    }

    .image-card, .ml-auto {
        display: none;
    }

    .hide-desktop{

        margin-right: 17px;

    }
    .header-logo {

        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 375px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .logo-1{

        
        max-width: 166px;
        margin-left: 16px;
    }

    .body-up {

        padding: 0;
    }

    .blog-info{

   padding: 60px 0px;

    }

    .main-heading{

        font-size: 43px;
        
    }

    .body-down {

        padding: 0;
    }

    .phone, .quote, .email{

        padding: 36px 0px;
        gap: 20px;
    }

    .Phone-Icon, .Quote-Icon, .Email-Icon{

        max-width: 56px;
    }

    .email{

        justify-content: start;
    }

    .service{

        padding: 80px 0px;
    }

    .service-heading{

        font-size: 32px;
    }

    .card-text{

        padding-bottom: 59px;
    }

    .team-info{

        padding-top: 60px;
        padding-left: 15px;
        padding-left: 15px;
    }

    .team-heading{

        font-size: 32px;
        line-height: 38.72px;
    }
   
    .team-text {

        max-width: 344px;
        font-weight: 400;
        padding-bottom: 40px;
    }

    .mobile-only{

        
        padding-left: 16px;
    }

    .team{

        padding-bottom: 60px;
    }

    .crew {

        padding-top: 80px;
    }

    .anabel, .yasemin {

        max-width: 164px;
        
    }

    .crew-title{

        font-size: 17px;
    }

    .crew-text{

        font-size: 10px;
    }

    .costumer{

        padding-top: 60px;
        padding-bottom: 60px;
        
    }

    .costumer-sec{

        padding-left: 16px;
        padding-right: 16px;
        padding-bottom: 60px;
    }

    .costumer-review{

        max-width: 342px;
        padding-left: 16px;
        padding-right: 17px;
    }

    .customer-title{

        max-width: 303px;
    }

    .customer-text{

        max-width: 306px;
        padding: 0px;
    }

    .service-heading2{

        font-size: 32px;
    }

   

    form{

        max-width: 343px;
    }

    .form-title{

        margin-bottom: 33px;
        margin-top: 40px;
        
    }

    

    .name{

        margin-bottom: 27px;
    }

    .footer-logo{

        margin-top: 60px;
    }


    .footer-text{

        max-width: 343px;
        margin-bottom: 0px;
    }

    .footer-links{

        
        padding-bottom: 70px;
        padding-left: 40px;
        
        gap: 50px;
        height: 24px;
    }

    .footer-down{

        flex-direction: column;
        padding-top: 40px;
        
        
    }

    .social-media{

        margin-bottom: 20px;
        margin-top: 0px;
    }

    .copyright{

        margin-top: 0px;
        margin-bottom: 60px;
    }

    
 










  
    
 

   

}

@media screen and (max-width: 767px) {
    .mobile-only {
      display: block;
    }
  }








@media only screen and ( min-width: 1024px){
    
    .hide-desktop {

        display: none;
    }

    .desktop-only{

        display: block;
    }

    .nadine{

        display: block;
    }

    .customer {

        padding-top: 60px;
    }

    .shephard, .mark-joern {

        display: block;
    }

    .sponsor-company{

        display: block;
    }


























}

















