* {

    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.bg-alt{
    background:#F5FBFE;
}

.info-sec {

    margin: 0px;
    padding: 6px;
    text-align: center;
    background-color: rgba(0, 58, 90, 1);
    color: white;

    
}




.header-link {

    padding: 0;
    color:  #646464;
    ;
}


.header-item {

    display: flex;
    gap: 6px;
    align-items: center;
}


a {

   text-decoration: none;
   color:  rgba(100, 100, 100, 1);
   text-align: center;
   
   
}


a .logo-1 {

    width: 250px;
    height: 34px;
}

.ml-auto {

    gap: 60px;
    padding: 30px 0px;
}

.link-item {

    display: flex;
    gap: 32px;
}

.btn-cta {

    color: white;
    padding: 16px 40px;
    background-color: black;
    border-radius: 8px;
    width: 193px;
    border: black;
    cursor: pointer;
    

}


.Vector-img {


color: rgba(57, 59, 61, 1);


}

.navbar{
    padding:0;
}

.navbar-expand-lg .navbar-nav .nav-link {

    padding: 0;
}



.image-card {

    margin-top: 32px;
}

.blog-info {

    margin-top: 88px;
}

.section-title {

    margin-bottom: 12px;
    color: rgba(0, 160, 249, 1);
   
}

.main-heading {

    margin-bottom: 20px;
}

.info-sec1 {

    margin-bottom: 33px;
    color: rgba(100, 100, 100, 1);
    max-width: 570px;
    font-weight: 400;
    
}

.image-card {

    position: relative;
    display: inline-block;
    
   
}




.body-up{
    padding-bottom: 70px;
}

.body-up .overlay-img {

    position: absolute;
    left: -30px;
    bottom: 45px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    background-color: white;
    padding: 19px;
    border-radius: 12px;
}

.body-down{
    border-top: 1px solid #C0C0C0;
    padding: 40px;
    
}

.container {

    padding: 0;
}

.phone, .quote, .email{

    display: flex;
    align-items: center;
    padding: 0;
    
}

.Phone-Icon, .Quote-Icon, .Email-Icon {

    display: inline-block;
}

.phone-text, .quote-text, .email-text{

    display: inline-block;
    margin-left: 20px;
   
}

.quote-text{

    max-width: 206px;
}

.phone-title, .quote-title, .email-title{

    margin: 0;
   
}

.paragraph-sec {

    text-align: center;
    margin-top: 60px;
    margin-bottom: 80px;
}

.card-title {
    margin-bottom: 16px;
    margin-top: 30px;
    font-size: 24px;
    font-weight: 700;
    font-family: 'Inter Tight';
}

.text-item {

    margin-bottom: 120px;
}

.team-info {
    
    padding-top: 120px;
}

.team-img {

    padding-top: 120px;
    float: right;
}

.card-text {

    max-width: 342px;
}


